{% block content %}
<div class="container" style="text-align: center;font-size: 30px;margin-top: 40px;">
    <img src="/static/img/logo1.png" style="align: center;">
    <img src="/static/img/title_logo.png" style="align: center;">
  <h3>Forgot password</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: darkblue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:32px;">Submit</button>
  </form>
  </div>
{% endblock %}