{% extends 'base.html' %}

{% block title %} Participate {% endblock title %}

{% block nav2link %} 

  {% if user.is_authenticated %}
    /  
  {% else %}
    /login
  {% endif %}

{% endblock nav2link %}

{% block nav2 %} 

  {% if user.is_authenticated %}
    Hello, {{user.first_name}}
  {% else %}
    Login
  {% endif %}

{% endblock nav2 %}

{% block nav3link %} 

  {% if user.is_authenticated %}
    /home
  {% else %}
    /home
  {% endif %}

{% endblock nav3link %}

{% block nav3 %} 

  {% if user.is_authenticated %}
    Home
  {% else %}
    Home
  {% endif %}

{% endblock nav3 %}

{% block nav4link %} 

  {% if user.is_authenticated %}
    /logout 
  {% endif %}

{% endblock nav4link %}

{% block nav4 %} 

  {% if user.is_authenticated %}
    LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %} 

<div class="container-fluid px-0">
<img src="/static/img/contact.jpg" class="d-block w-100" alt="...">
</div>

{% if user.is_authenticated %}
  <div class = container>
  <h1 class="text-center my-2 mb-3"> To participate in any of the event <br> you must fill this form </h1>
  <form method="post" action="/contact">
  {% csrf_token %}
  <div class="form-group">
    <label for="name"><h3>Name</h3></label>
    <input type="text" class="form-control" style="width:300px;" id="name" name="name" placeholder="Enter your full name">
  </div>
  <div class="form-group">
    <label for="email"><h3>Email address</h3></label>
    <input type="email" class="form-control" style="width:300px;" id="email" name="email" placeholder="Enter your email id">
  </div>
  <div class="form-group">
    <label for="phone"><h3>Phone Number</h3></label>
    <input type="phone" class="form-control" id="phone" style="width:300px;"  name="phone" placeholder="Enter your Phone number">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3> Enter the Unique Id of the event you are interested in</h3></label>
    <textarea class="form-control" id="textbox" style="width:500px;"  name="textbox" rows="3"></textarea>
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="g-recaptcha" data-sitekey="6LeHq6kZAAAAALWyvLVXhLy5BFdz_k-Tc9b8Ri83"></div>
  <button class="btn btn-primary my-3 mb-5">Submit</button>
  </form>

{% else %}

  <h1 class="text-center"> To Participate in any event you must Login or Register</h1>

{% endif %}

{% endblock body %}