{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>

{% block title %} Home {% endblock title %}

{% block nav1link %}
  #events
{% endblock nav1link %}

{% block nav1 %}
  <img src="https://img.icons8.com/cute-clipart/38/000000/overtime.png"/> View Events
{% endblock nav1 %}

{% block nav2link %} 

  {% if user.is_authenticated %}
    
  {% else %}
    /signup
  {% endif %}

{% endblock nav2link %}

{% block nav2 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/emoji/38/000000/waving-hand-emoji.png"/> Hello, {{user.first_name}}
  {% else %}
    <img src="https://img.icons8.com/emoji/38/000000/waving-hand-emoji.png"/> Login
  {% endif %}

{% endblock nav2 %}

{% block nav3link %} 

  {% if user.is_authenticated %}
    /contact
  {% else %}
    /contact
  {% endif %}

{% endblock nav3link %}

{% block nav3 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/form.png"/> Participate
  {% else %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/form.png"/> Participate
  {% endif %}

{% endblock nav3 %}

{% block nav4link %} 

  {% if user.is_authenticated %}
    /logout 
  {% endif %}

{% endblock nav4link %}

{% block nav4 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/logout-rounded-left.png"/> LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %} 
<div style = "background-color:lightblue;"
>
<div class = "container-fluid px-0">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x500/?{{events.title}},{{events.tag}}" class="d-block w-100" alt="...">
    </div>
</div>
</div>
<div>
<div class="container mt-4 mb-4" style="background-color: beige;border-radius:64px;">
<h1 class="text-center pt-3 pb-3" style="font-family:roboto;font-weight:bold;color:darkblue;"> {{events.title}}</h1>
<div style="padding:20px;">
<div class="row">
    <div class="col-sm">
      <u><h2 style="font-family:oswald; font-weight:bolder;color:darkblue;"> <img src="https://img.icons8.com/nolan/64/tags.png"/> Date and Time </h2></u>
      <h4 style="font-family:montserrat;text-align:justify;color:red;"> {{events.eventday}}, {{events.eventmonth}} {{events.eventdate}} {{events.eventyear}} </h4>
    </div>
    <div class="col-sm">
      <u><h2 style="font-family:oswald;padding-right:170px;color:darkblue;"> <img src="https://img.icons8.com/dusk/64/000000/date-to.png"/> Event Tag </h2></u>
      <h4 style="font-family:montserrat;text-align:justify;color:red;"> {{events.tag}} </h4>
    </div>
</div>
<div class="row pt-4">
    <div class="col-sm">
      <u><h2 style="font-family:oswald;"> <img src="https://img.icons8.com/dusk/64/000000/worldwide-location.png"/> Location </h2></u>
      <h4 style="font-family:montserrat;text-align:justify;color:red;"> {{events.location}} </h4>  
    </div>
    <div class="col-sm">
      <u><h2 style="font-family:oswald;color:darkblue;"> <img src="https://img.icons8.com/nolan/64/time-card.png"/> Organizer </h2></u>
      <h4 style="font-family:montserrat;text-align:justify;color:red;">{{events.organizer}}</h4>
    </div>
</div>
<u><h2 class="pt-4" style="font-family:oswald;color:darkblue;"> <img src="https://img.icons8.com/cute-clipart/64/000000/about.png"/> About the event </h2></u>
<h4 style="text-align:justify;padding-top:20px;padding-bottom:20px;font-family:pt seriff;color:red;"> {{events.desc}} </h4>
<u><h2 class="text-center" style="font-family:oswald;padding-bottom:20px;color:darkblue;"> Unique id of the event </h2></u>
<textarea id="copyContent" class="form-control" rows="1" style="background-color:black; color:white;width:340px;margin-left:auto;margin-right:auto;">{{events.id}}</textarea>  
<div class="text-center pt-3">
<button class="btn btn-primary" style="border-radius:32px;" onclick="myFunction()">Get Registration ID</button>
</div>
</div>
</div>
<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("copyContent");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Registration id successfully created. You can now go to the participation page and paste it in the form");
}
</script>
{% endblock body %}