{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>

{% block title %} Home {% endblock title %}

{% block nav1link %}
  #events
{% endblock nav1link %}

{% block nav1 %}
  <img src="https://img.icons8.com/cute-clipart/38/000000/overtime.png"/> View Events
{% endblock nav1 %}

{% block nav2link %} 

  {% if user.is_authenticated %}
    
  {% else %}
    /signup
  {% endif %}

{% endblock nav2link %}

{% block nav2 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/emoji/38/000000/waving-hand-emoji.png"/> Hello, {{user.first_name}}
  {% else %}
    <img src="https://img.icons8.com/emoji/38/000000/waving-hand-emoji.png"/> Login
  {% endif %}

{% endblock nav2 %}

{% block nav3link %} 

  {% if user.is_authenticated %}
    /contact
  {% else %}
    /contact
  {% endif %}

{% endblock nav3link %}

{% block nav3 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/form.png"/> Participate
  {% else %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/form.png"/> Participate
  {% endif %}

{% endblock nav3 %}

{% block nav4link %} 

  {% if user.is_authenticated %}
    /logout 
  {% endif %}

{% endblock nav4link %}

{% block nav4 %} 

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/logout-rounded-left.png"/> LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %} 
<div style = "background-color:lightblue;"
>
<div class = "container-fluid px-0">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/slider1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Register now to attend the biggest events taking place around the world.</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Participate/Attend traditional events</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider3.jpg" style="opacity:0.5;"class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color:black;">
        <h1>EventzForU</h1>
        <h3>Participate/Attend music fests</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Participate/Attend sporting events</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Participate/Attend carnivals</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider6.jpg"  style="opacity:0.5" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color:black;">
        <h1>EventzForU</h1>
        <h3>Participate/Attend music shows</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider7.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Participate/Attend festivals</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/slider8.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>EventzForU</h1>
        <h3>Participate/Attend concerts</h3>
        <h5>Scroll down to view upcoming events</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container my-4 mb-4" id="events" style="background-color:beige;border-radius:64px;">

<form class="form-inline my-5 my-lg-0" style="margin-right:auto; margin-left:auto; height: 100px;padding-top:20px;">
      <input class="form-control mr-sm-2" style="height: 50px; color: red;width: 500px;border-radius:32px;" type="search" placeholder="Search event categories. Eg: Music, Sports, Dance, Festivals..." aria-label="Search">
      <button class="btn btn-warning my-2 my-sm-0" style="height: 50px;border-radius:32px;width:100px;" type="submit">Search</button>
</form>

<h1 class="text-center mb-3" style="color: darkblue; font-family:algerian;"> View Upcoming Events </h1>
  
  <div class="row">
  {% for event in events %}
  <div class="col-sm-6 mb-3 d-flex">
  <div class="card" style="background-color: white;border-radius:32px;">
    <img src="https://source.unsplash.com/1600x900/?{{event.title}},{{event.tag}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-text" id="eventtag" style="text-align:center; color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;border-radius:32px;width:120px;align-items:center;" type="submit">{{event.tag}}</button></h3>
      <h2 class="card-title" id="eventtitle" style="color:darkblue;font-family:pt seriff;" >{{event.title}}</h2>
      <h4 class="card-text" id="eventheader" style="color:darkblue;font-family:roboto;">{{event.header}}</h4>
      <h3 class="card-text" id="eventschedule" style="color:red;font-family:pt seriff;padding-top:10px;">{{event.eventday}}, {{event.eventmonth}} {{event.eventdate}} {{event.eventyear}}</h3>
      <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{event.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock body %}
