<!DOCTYPE html>
<html>
<head>
	<title>Login | EventsForU</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/static/img/title_logo.png" type="image/x-icon" />.
</head>
<body>
<div class="container">
  <div class="cont">
  <form method="POST" action="login">
  {% csrf_token %}
    <div class="form sign-in">
      <h2>Sign In</h2>
      <label>
        <span>Username</span>
        <input type="text" id="username" name="username">
      </label>
      <label>
        <span>Password</span>
        <input type="password" id="password" name="password">
      </label>
      <button class="submit" type="submit">Sign In</button>
      <p class="forgot-pass">Forgot Password ?</p>
      <p class="forgot-pass">Or Login with any of your social account</p>

      <div class="social-media">
        <ul>
          <li><a href="{% url "social:begin" "google-oauth2" %}"><img src="static/img/google.jpg"></a></li>
          <li><a href="{% url 'social:begin' 'facebook' %}"><img src="static/img/facebook.png"></a></li>
          <li><a href="{% url 'social:begin' 'github' %}"><img src="static/img/github.png"></a></li>
        </ul>
      </div>
    </div>
    </form>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <img src="/static/img/title_logo.png" style="position:absolute;left: 30px;top: 80px;">
          <img src="/static/img/logo.png" style="position:absolute;left: 30px;top: 300px; padding-top: 2rem;">
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already have an account, just sign in. We've missed you!</p>
          <img src="/static/img/title_logo.png" style="position:absolute;left: 30px;top: 80px;">
          <img src="/static/img/logo.png" style="position:absolute;left: 30px;top: 300px; padding-top: 2rem;">
        </div>
        <div class="img-btn">
          <span class="m-up" style="color:white;">Sign Up</span>
          <span class="m-in" style="color:white;">Sign In</span>
        </div>
      </div>
      <form method="POST" action="signup">
      <div class="form sign-up">
      {% csrf_token %}
        <h2>Sign Up</h2>
        <label>
          <span>First Name</span>
          <input type="text" id="firstname" name="firstname">
        </label>
        <label>
          <span>User Name</span>
          <input type="text" id="username" name="username">
        </label>
        <label>
          <span>Email</span>
          <input type="email" id="email" name="email">
        </label>
        <label>
          <span>Password</span>
          <input type="password" id="password" name="password">
        </label>
        <button type="submit" class="submit">Sign Up Now</button>
        <p class="forgot-pass">Your details will never be shared with anyone.</p>
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>